<h1>Test: <%= @test_passage.test.title %> был завершен!</h1>

<h2>Result:

<% if @test_passage.success? %>
  <span style="color: green;"><%= @test_passage.percentage_result %>%</span>
<% else %>
  <span style="color: red;"><%= @test_passage.percentage_result %>%</span>
<% end %>

</h2>
<%= link_to "Back", :tests %>
