<article>

  <footer>
    <p>Author: Evseev Evgeniy</p>
    <p>Проект: github_url('Evgeniy-ES', 'rails0')
    <p>Учебный проект в онлайн-школе <a href="https://thinknetica.com/" target="_blank">Thinknetica</a></p>
    <p>© <%= this_year %> Test Guru</p>
  </footer>
</article>
