<article>

  <footer>
    <p>Author: Evseev Evgeniy</p>
    <p>Проект: <a href="<%= github_url %>" target="_blank">Test Guru</a></p>
    <p>Учебный проект в онлайн-школе <a href="https://thinknetica.com/" target="_blank">Thinknetica</a></p>
    <p>© <%= this_year %> Test Guru</p>
  </footer>
</article>
