<table>
  <tr>
    <th>Question</th>
    <th>Test ID</th>
    <th colspan="2">Action</th>
  </tr>

  <%= render @question %>>

  <br>
  <h2>Answers</h2>
  <%= link_to 'New answer', admin_new_question_answer_path(@question) %>
  <%= render @question.answers %>
</table>
